@model IEnumerable<BudgetTracker.Models.Transaction>

@{
    ViewData["Title"] = "Transactions";
}

<h1>Transaction List</h1>

<div class="clearfix">
    <div class="float-end">
        <a asp-action="Create"><button type="button" class="btn btn-primary">+ Add New Transaction</button></a>
    </div>
</div>


<br />
<div class="widget p-3">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Note)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryTitleWithIcon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FormattedAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @item.Date.ToString("MMM-dd-yy")
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.TransactionId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.TransactionId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.TransactionId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


